<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISentenceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61729/SentenceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISentenceService"
                contract="ServiceReference1.ISentenceService" name="BasicHttpBinding_ISentenceService" />
        </client>
    </system.serviceModel>
</configuration>